.mark-item {
    display: flex;
    margin-top: 12px;
}

.mark-icon {
    width: 120px;
}

.mark-input {
    display: block;
    width: 50%;
    padding: 5px 10px;
}

.ajura {
    margin-top: 20px;
    border: 1px solid;
    border-radius: 12px;
}

.catm-field {
    background-color: aliceblue;
    padding: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 5px;
}

.semester-field {
    background-color: rgb(223, 239, 252);
    padding: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}