.mark-item {
    display: flex;
    margin-top: 12px;
}

.mark-item input[type=radio] {
    margin-left: 10px;
    margin-right: 5px;
}

.mark-item label {
    font-size: 1.1em;
    color: rgb(6, 6, 90);
}

.mark-icon {
    width: 120px;
}

.mark-input {
    display: block;
    width: 50%;
    padding: 5px 10px;
}


.ajura {
    margin-top: 20px;
    border: 1px solid;
    border-radius: 12px;
}

.catm-field {
    background-color: aliceblue;
    padding: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catm-field div {
    width: 60%;
}


.catm-field>div>div {
    width: 30%;
}

.catm-field>div>input[type=text] {
    width: 70%;
}